@font-face {
	font-family: 'Vazirmatn RD';
	src: url('../fonts/webfonts/Round-Dots/Vazirmatn-RD[wght].woff2') format('woff2 supports variations'),
		 url('../fonts/webfonts/Round-Dots/Vazirmatn-RD[wght].woff2') format('woff2-variations');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}
body {
    direction: rtl;
	font-family: 'Vazirmatn RD';
}
table {
	border: solid lightgray 1px;
	text-align: center !important;
}
td, th {
	text-align: center !important;
}
#title {
	margin: 1rem;
	display: flex;
	justify-content: center;
}